<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://t8-2020630308-af.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e23a0dfa-0553-4294-9e25-09dc6862aafd/resourceGroups/T8-2020630308-AF_group/providers/Microsoft.Web/sites/T8-2020630308-AF</ResourceId>
    <UserName>$T8-2020630308-AF</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://t8-2020630308-af.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>